<div   class="ft_cont">
    <footer>
        <div class="container_footer">
            <div class="wrapper_footer">
                <div class="wrapper_contact_inf">
                <div class="ft_contact">
    
                    <div class="location_ft">
                        <h5>Adress</h5>
                    </div>
                    <div class="location" >
                        <h5> 4 Abbey St, Gardens, Kilkenny </h5>
                    </div>
                    <div class="em_ft">
                        <h5>Email</h5>
                    </div>
                    <div class="em_address" >
                        <h5><a href="https://www.yahoo.com/">yourtour@gmail.com</a></h5>
                    </div>
                    <div class="phone_ft">
                        <h5>Phone</h5>
                    </div>
                    <div class="contact_nr" >
                        <h5>(+353) 85534527</h5>
                    </div>

                </div>
            </div>
                <div class="container_icon_social_media">
                    <h3>
                        ...see you on
                    </h3>
                    <div>
                         <a href="https://www.facebook.com/"><i id="icon_facebook" class="fa-brands fa-facebook"></i></a>
                     </div> 
                     <div>
                         <a href="https://www.instagram.com/"><i id="icon_twitter"class="fa-brands fa-square-x-twitter"></i></i></a>
                     </div> 
                     <div >
                         <a href="https://twitter.com/?lang=en"><i id="icon_instagram" class="fa-brands fa-square-instagram"></i></i></a>
                     </div> 
            
                 </div>
            </div>
     <div class="wrapper_cpright">
         <p class="policy_terms">© 2024 ALL RIGHTS RESERVED   PRICACY POLICY AND COOKIES</p>
     </div>
        </div>
        </footer>
</div>