
<div class="container_navigation">
    <div class="wrapper_nav">
        <img class="logo_img" src="static/images/logo.png">
        <ul>
            <li class="nav_item">
                <form  class="form_nav" action="/tours" method="post">
                    <input type="hidden">
                     <button  class="btn_nav" type="submit">TOURS</button>
                </form>
            </li> 
            <li class="nav_item">
                <form class="form_nav" action="/view_fav_tours" method="post">
                    <input type="hidden" name="list_fav_tour">
                     <button class="btn_nav" type="submit">FAVOURITES</button>
                </form>
            </li>
        </ul>

    </div>
</div>
